nav{
    background-color: rgb(5, 5, 59);
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
nav li{
    list-style-type: none;
    width: 35%;
    text-align: center;
}
nav a{
    display: block;
    color: white;
    padding: 20px 30px;
    text-transform: uppercase;
    text-decoration: none;
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
.menuinfo:hover{
    border-top: 5px solid olivedrab;
    background-color: brown;
}
.menucontact:hover{
    border-top: 5px solid olivedrab;
    background-color: brown;
}
.menuexperiences:hover{
        border-top: 5px solid olivedrab;
        background-color: brown;
    }